IndexOptions +SuppressSize
# In this context these symlinks are only distractors.
IndexIgnore images
IndexIgnore style.css
# This script does not serve direct requests.
IndexIgnore restyle.php

RewriteEngine On
# Have the script process requests for all existing .html files.
RewriteCond "%{REQUEST_FILENAME}" -f
RewriteRule "\.html$" "restyle.php" [L,PT]
