Options +Indexes
IndexOptions +FancyIndexing +HTMLTable +SuppressDescription +SuppressLastModified +VersionSort
IndexStyleSheet /style.css
HeaderName /autoindex_header.html
ReadmeName /autoindex_footer.html

# not intended to be delivered from the web server
RedirectMatch 404 /\.git
# A side effect of the directive below is that ReadmeName cannot access any
# files in htmlsrc directly, but using a symlink works.
RedirectMatch 404 /htmlsrc

# legacy locations of a few current documents
Redirect permanent /tcpdump_man.html /manpages/tcpdump.1.html
Redirect permanent /pcap3_man.html /manpages/pcap.3pcap.html
Redirect permanent /pcap.htm /pcap.html
Redirect permanent /tcpdump-workers.asc /release/signing-key-RSA-E089DEF1D9C15D0D.asc
Redirect permanent /sniffex.c /other/sniffex.c

# removed
Redirect permanent /mirrors.html /
# merged
Redirect permanent /license.html /#license

# These replace manual copies with the master branch revisions.
Redirect permanent /libpcap-changes.txt https://git.tcpdump.org/libpcap/blob/HEAD:/CHANGES
Redirect permanent /libpcap-credits.txt https://git.tcpdump.org/libpcap/blob/HEAD:/CREDITS
Redirect permanent /tcpdump-changes.txt https://git.tcpdump.org/tcpdump/blob/HEAD:/CHANGES
Redirect permanent /tcpdump-credits.txt https://git.tcpdump.org/tcpdump/blob/HEAD:/CREDITS

# Serve a PNG file (via symlink) with the correct Content-Type (via ForceType)
# and no HTTP redirects when a client asks for the default "/favicon.ico".
<Files "/favicon.ico">
	ForceType image/png
</Files>

ExpiresActive On
# .css documents tend to be cached for too long, so declare them short-lived
# for better visual consistency.
ExpiresByType text/css "access plus 1 hour"
# .html and .txt documents can change rather often, and browsers typically do
# a good enough job detecting the change via If-Modified-Since.  In case that
# didn't work, have a hard limit in place.
ExpiresByType text/html "access plus 24 hours"
ExpiresByType text/plain "access plus 24 hours"
