Options +Indexes
IndexOptions +FancyIndexing +HTMLTable +SuppressDescription +SuppressLastModified +FoldersFirst +VersionSort
IndexStyleSheet /style.css
IndexHeadInsert "  <link rel=\"shortcut icon\" href=\"/images/T-32x32.png\" type=\"image/png\">"
HeaderName /autoindex_header.html
ReadmeName /autoindex_footer.html

# not intended to be delivered from the web server
RedirectMatch 404 /\.git
# A side effect of the directive below is that ReadmeName cannot access any
# files in htmlsrc directly, but using a symlink works.
Redirect 404 /htmlsrc

# legacy locations of a few current documents
Redirect permanent /tcpdump_man.html /manpages/tcpdump.1.html
Redirect permanent /pcap3_man.html /manpages/pcap.3pcap.html
Redirect permanent /pcap.htm /pcap.html
Redirect permanent /tcpdump-workers.asc /release/signing-key-RSA-E089DEF1D9C15D0D.asc
Redirect permanent /release/signing-key.asc /release/signing-key-RSA-E089DEF1D9C15D0D.asc
Redirect permanent /sniffex.c /other/sniffex.c
Redirect permanent /linktypes/LINKTYPE_IPMB_LINUX.html /linktypes/LINKTYPE_I2C_LINUX.html
Redirect permanent /pcap/pcap.html https://ietf-opsawg-wg.github.io/draft-ietf-opsawg-pcap/draft-ietf-opsawg-pcap.html

# removed
Redirect permanent /mirrors.html /
# merged
Redirect permanent /license.html /#license
# removed and cannot be redirected because other mailing list archives
# use different URLs
Redirect gone /lists/
# removed and is intended to stay this way
Redirect gone /other/bpfext42.tar.Z
Redirect gone /other/pktdump.c
Redirect gone /papers/ethereal-tcpdump.pdf
Redirect gone /manpages/libpcap-1.9.0/
Redirect gone /style_manpages.css
Redirect gone /oldweb/
Redirect gone /cgi-bin/cvsweb
Redirect gone /daily/
Redirect gone /weekly/
Redirect gone /release/libpcap-1.1.0.tar.gz
Redirect gone /release/libpcap-1.1.0.tar.gz.sig
Redirect gone /release/libpcap-1.5.1.tar.gz
Redirect gone /release/libpcap-1.5.1.tar.gz.sig
Redirect gone /release/libpcap-1.5.2.tar.gz
Redirect gone /release/libpcap-1.5.2.tar.gz.sig
Redirect gone /release/libpcap-1.6.1.tar.gz
Redirect gone /release/libpcap-1.6.1.tar.gz.sig
Redirect gone /release/tcpdump-4.1.0.tar.gz
Redirect gone /release/tcpdump-4.1.0.tar.gz.sig
Redirect gone /release/tcpdump-4.6.1.tar.gz
Redirect gone /release/tcpdump-4.6.1.tar.gz.sig
Redirect gone /release/tcpdump-4.7.2.tar.gz
Redirect gone /release/tcpdump-4.7.2.tar.gz.sig
Redirect gone /beta/libpcap-1.2.0rc1.tar.gz
Redirect gone /beta/libpcap-1.2.0rc1.tar.gz.sig
Redirect gone /beta/libpcap-1.10.1rc2.tar.gz
Redirect gone /beta/libpcap-1.10.1rc2.tar.gz.sig
Redirect gone /beta/tcpdump-4.99.1rc2.tar.gz
Redirect gone /beta/tcpdump-4.99.1rc2.tar.gz.sig

# These replace manual copies with the master branch revisions.
Redirect permanent /libpcap-changes.txt https://git.tcpdump.org/libpcap/blob/HEAD:/CHANGES
Redirect permanent /libpcap-credits.txt https://git.tcpdump.org/libpcap/blob/HEAD:/CREDITS
Redirect permanent /tcpdump-changes.txt https://git.tcpdump.org/tcpdump/blob/HEAD:/CHANGES
Redirect permanent /tcpdump-credits.txt https://git.tcpdump.org/tcpdump/blob/HEAD:/CREDITS

# Serve a PNG file with the correct Content-Type
# and no HTTP redirects when a client asks for the default "/favicon.ico".
RewriteEngine On
RewriteRule "^favicon\.ico$" "images/T-32x32.png" [L,PT]

ExpiresActive On
# .css documents tend to be cached for too long, so declare them short-lived
# for better visual consistency.
ExpiresByType text/css "access plus 1 hour"
# .html and .txt documents can change rather often, and browsers typically do
# a good enough job detecting the change via If-None-Match.  In case that
# didn't work, have a hard limit in place.
ExpiresByType text/html "access plus 24 hours"
ExpiresByType text/plain "access plus 24 hours"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/gif "access plus 1 week"

# Fix caching of compressed responses when using entity tags (by Joost
# Dekeijzer), this applies to restyle.php as well.  For example,
# ETag: "abcdef-gzip"
# becomes
# ETag: "abcdef", "abcdef-gzip"
# https://bz.apache.org/bugzilla/show_bug.cgi?id=39727
# https://bz.apache.org/bugzilla/show_bug.cgi?id=45023
# https://github.com/symfony/symfony-docs/issues/12644
RequestHeader edit "If-None-Match" '^"((.+)-(?:gzip|br))"$' '"$2", "$1"'
# If the document before any compression is the same, do not confuse the client
# with a possibly different entity tag, HTTP 304 is everything it needs to see.
Header unset "ETag" "expr=%{REQUEST_STATUS} == 304"
