/*
Original design by Free CSS Templates (later "TEMPLATED")
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.png) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #737373;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-bottom: 1.8em;
	line-height: 160%;
}

li ul {
	margin-bottom: initial;
}

/* Don't have extra leading in paragraphs in table entries. */
td p {
	margin-bottom: 0;
	line-height: normal;
}

a {
	color: #414141;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Menu */

#menu {
	width: 960px;
	height: 45px;
	margin: 0 auto;
	padding: 0px 0;
}

#menu ul {
	height: 45px;
	margin: 0;
	padding: 0;
	background: url(images/img03.png) no-repeat;
	list-style: none;
}

#menu li {
	float: left;
	height: 45px;
	background: url(images/img03.png) no-repeat right top;
}

#menu a {
	float: left;
	height: 20px;
	margin: 0px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background: url(images/img02.png) repeat-x;
	color: #FFFFFF;
	height: 45px;
}

#menu .current_page_item a {
	height: 45px;
	color: #FFFFFF;
}

/* Splash */

#splash {
	width: 956px;
	height: 103px;
	margin: 0 auto;
}


/* Logo */

#logo {
	width: 960px;
	height: 15px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #3F3F3F;
	color: #414141;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 30px;
}

/* Content */

#content {
	float: right;
	width: 680px;
}

.post {
	padding-bottom: 20px;
}

.post .title {
	margin: 0;
	padding: 5px 20px;
	letter-spacing: -2px;
	border-bottom: 1px dashed #B9B9B9;
	text-transform: uppercase;
	font-size: 24px;
}

.post .title a {
	text-decoration: none;
}

.post .subtitle {
	margin: 0;
	padding: 5px 20px;
	font-size: 20px;
}

.post .subtitle a {
	text-decoration: none;
}

.post .entry {
	padding: 10px 20px;
}

.post .initial {
	font-size: 120%;
	font-weight: bold;
}

.post .filename {
	font-family: monospace;
	font-weight: bold;
}

.post .code {
	font-family: monospace;
	white-space: pre;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
}

#sidebar li {
	padding-bottom: 5px;
}

#sidebar h2 {
	height: 20px;
	margin: 0;
	padding: 6px 0 0 20px;
	border-bottom: 1px dashed #B9B9B9;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

/* Footer */

#footer {
	clear: both;
	width: 960px;
	height: 50px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 6px solid #3F3F3F;
	font-size: smaller;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
}

table.linktypedlt tr:nth-child(even) {
	background-color: #f0f0f0;
}

table.linktypedlt td, table.linktypedlt th {
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

table.linktypedlt td.symbol {
	font-family: monospace;
}

table.linktypedlt td.number {
	font-family: monospace;
	text-align: right;
}

table.byte_array {
	border: 1px solid black;
	border-collapse: collapse;
}
table.byte_array th, table.byte_array td {
	border: 1px solid black;
	padding: 12px;
}
table.byte_array_8 th:nth-last-child(-n+8), table.byte_array_8 td:nth-last-child(-n+8) {
	width: 12.5%;
}

img.cibadge {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
}

table.byte_array_32 th:nth-last-child(-n+32), table.byte_array_32 td:nth-last-child(-n+32) {
	width: 3.125%;
}

table.byte_array_32 th, table.byte_array_32 td {
	text-align: center;
	padding: 9px;
}

/* For dynamic pages generated by Apache httpd mod_autoindex. */

#indexlist tr.even {
	background-color: #f0f0f0;
}

#indexlist td{
	padding-left: 5px;
	padding-right: 5px;
}
