/*
Original design by Free CSS Templates (later "TEMPLATED")
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	/* images/img01.png */
	background: #FFFFFF url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAtCAAAAABO5Y4lAAAAG0lEQVQI12OYPXs2AwivXbuW6hhmNjVxTU0NAP4KVc9H5B9KAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	color: #737373;
}

p, ul, ol {
	line-height: 140%;
}

li ul {
	margin-bottom: initial;
}

/* Don't have extra leading in paragraphs in table entries. */
td p {
	margin-bottom: 0;
	line-height: normal;
}

a {
	color: #414141;
}

a:hover {
	text-decoration: none;
}

a.away {
	padding-right: 16px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAPElEQVQoz2NgoDlgxCL2H1mOiZAmFiy6/mNTgND3H8qDKmPCaj8jQgMTkQ5HtReZx0QoHAgqYMFhCT0BABl1CRdcYiPjAAAAAElFTkSuQmCC") center right no-repeat;
}

hr {
	display: none;
}

/* Menu */

#menu {
	width: 960px;
	height: 45px;
	margin: 0 auto;
	padding: 0px 0;
}

#menu ul, #menu li {
	/* images/img03.png */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAtCAAAAAChJ+UbAAAAF0lEQVQI12Nwi2MAosBMihDEELJRWBgASNYeq7YFCY4AAAAASUVORK5CYII=");
	background-repeat: no-repeat;
}

#menu ul {
	height: 45px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	float: left;
	height: 45px;
	background-position: right top;
}

#menu a {
	float: left;
	height: 20px;
	margin: 0px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	/* images/img02.png */
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAtAgMAAAAW4DlqAAAACVBMVEU9PT1PT09sbGygOkitAAAAEUlEQVQI12NgAIIQoiHxYAUAwPUHjcr6akYAAAAASUVORK5CYII=");
	background-repeat: repeat-x;
	color: #FFFFFF;
	height: 45px;
}

#menu .current_page_item a {
	height: 45px;
	color: #FFFFFF;
}

/* Splash */

#splash {
	width: 956px;
	height: 103px;
	margin: 0 auto;
}


/* Logo */

#logo {
	width: 960px;
	height: 15px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #3F3F3F;
	color: #414141;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 30px;
}

/* Content */

#content {
	float: right;
	width: 680px;
}

.post .title {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: -1px;
	border-bottom: 1px dashed #B9B9B9;
	text-transform: uppercase;
	color: #414141;
}

.post .subtitle {
	margin: 0;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.post .entry {
	padding: 5px 20px;
}

.post .entry dt {
	font-weight: bold;
}

.post .entry dd {
	margin-bottom: 1em;
}

.post .initial {
	font-size: larger;
	font-weight: bold;
}

.post code, pre {
	font-size: larger;
	/* Pad the sides to keep the inline <code> clear of any adjacent punctuation marks. */
	padding: 0px 5px;
	border-radius: 3px;
	color: #414141;
}

.post code {
	white-space: nowrap;
	background-color: #d8d8d8;
}

.post pre {
	background-color: #f0f0f0;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
}

#sidebar li {
	padding-bottom: 5px;
}

#sidebar h2 {
	height: 20px;
	margin: 0;
	padding: 6px 0 0 20px;
	border-bottom: 1px dashed #B9B9B9;
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	color: #000000;
}

/* Footer */

#footer {
	clear: both;
	width: 960px;
	height: 50px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 6px solid #3F3F3F;
	font-size: smaller;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
}

table.linktypedlt tr:nth-child(even) {
	background-color: #f0f0f0;
}

table.linktypedlt td, table.linktypedlt th {
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

table.linktypedlt td.symbol {
	font-family: monospace;
}

table.linktypedlt td.number {
	font-family: monospace;
	text-align: right;
}

table.byte_array {
	border: 1px solid black;
	border-collapse: collapse;
}
table.byte_array th, table.byte_array td {
	border: 1px solid black;
	padding: 12px;
}
table.byte_array_8 th:nth-last-child(-n+8), table.byte_array_8 td:nth-last-child(-n+8) {
	width: 12.5%;
}

table.cidigest {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
}

table.cidigest th {
	text-align: left;
}

table.cidigest tbody th {
	padding-top: 1em;
}

table.cidigest tr.even {
	background-color: #f0f0f0;
}

table.cidigest span.cibadge {
	background-color: #525252;
	color: #f9f9f9;
	padding: 3px 7px;
	border-radius: 3px;
	font-size: smaller;
	white-space: nowrap;
}

table.cidigest img.cibadge {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
}

table.byte_array_32 th:nth-last-child(-n+32), table.byte_array_32 td:nth-last-child(-n+32) {
	width: 3.125%;
}

table.byte_array_32 th, table.byte_array_32 td {
	text-align: center;
	padding: 9px;
}

/* For dynamic pages generated by Apache httpd mod_autoindex. */

#indexlist {
	width: 960px;
	margin: auto;
	border-collapse: collapse;
}

#indexlist tr.indexhead {
	text-align: left;
}

#indexlist td.indexcolicon {
	width: 20px;
}

#indexlist tr.even {
	background-color: #f0f0f0;
}

#indexlist td{
	padding-left: 5px;
	padding-right: 5px;
}

/* man pages */

div.version_boilerplate {
	background-color: #ffffcc;
	color: black;
	border: 2px dashed #aa0000;
	padding: 5px;
	margin-top: 1em;
	padding-bottom: 1em;
}

div.version_boilerplate h4 {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* for pcap-savefile(5) */
div.manpage table table td {
	border: 1px solid black;
}
