# requires "AllowOverride Indexes" in Apache httpd config
IndexStyleSheet "../style_manpages.css"
IndexOptions +SuppressSize +IgnoreClient
IndexIgnore broadcom-switch-tag.html
IndexIgnore marvell-switch-tag.html
